.max-width {
  max-width: 1100px;
  margin: 0px auto;
}
/* you can centre anything with these properties in css */
.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cur-po {
  cursor: pointer;
}
.collection-title {
  font-size: 30px;
  color: var(--heading-text);
  margin-top: 32px;
  font-weight: 600;
}

.slick-next:before,
.slick-prev:before {
  color: var(--gray);
}
